body {
    background: var(--primary);
    overflow: hidden;
    /* W3C */
}

header {
    background-image: url('../img/bg_grain.png');
    /* fallback */
    background-image: url('../img/bg_grain.png'), linear-gradient(180deg, #05182B 0%, #002952 100%);
}

:root {
    scroll-behavior: smooth;
}

.psButton.large {
    padding: 25px 45px;
    font-size: 1.4em;
}

.front-page-item-new {
    position: absolute;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.responsive-nav-bar.open-bar {
    z-index: 999 !important;
}


.nav-bar {
    padding: 46px 32px;
    margin: 0 !important;
}

.step-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2em;


}

.hero {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    max-width: 900px;
    margin: auto;
    left: 0;
    right: 0;
}

.front-page-item {
    max-width: 750px;
    width: unset;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 0;
    position: relative;
}

.videoSection {
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 100%;
    overflow: hidden;
}

#play-button {
    position: absolute !important;
    bottom: 50px !important;
    /* -webkit-animation: rotation 22s infinite linear; */
    /* animation: rotation 22s infinite linear; */
    z-index: 100 !important;
    left: 0 !important;
    display: block;
    right: 0 !important;
    top: unset !important;
    margin: auto !important;
    width: 100px;
    height: 100px;
}


#textScroller {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('../img/back-top.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#carousel {
    background-image: url('../img/back-bottom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}

.front-page-item-new {
    position: absolute;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    max-width: 950px;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    margin: auto;
}

.textBlock {
    height: 100vh;
    width: 100%;
    display: block;
    opacity: 0;
}

.progress {
    position: absolute;
    left: 30px;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 25px;
    height: 60%;
}

@media only screen and (max-width: 800px) {
    .progress {

        height: 50%;
    }
}

.progress__top {
    top: -30px;
    position: absolute;
}

.progress__bottom {
    bottom: -30px;
    position: absolute;
}

.progress__line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 1px;
    height: 100;
    background: rgb(142, 84, 233);
    background: linear-gradient(180deg, rgba(142, 84, 233, 1) 0%, rgba(71, 118, 230, 1) 100%);
}

.progress__bar {
    transform-origin: bottom left;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    bottom: 0;
    width: 1px;
    height: 0%;
    background-color: #fff;
    position: absolute;
}


.responsive-nav-bar {

    background: rgb(142, 84, 233) !important;
    background: linear-gradient(95deg, rgba(142, 84, 233, 1) 0%, rgba(71, 118, 230, 1) 100%) !important;
}

.carousel-3d-slide {
    border: none !important;
    background-color: transparent !important;
}


.carousel-3d-slide.current .hidden {
    display: block !important;

    /* Rectangle 137 */
}



.carousel-3d-controls a {
    background: rgb(142, 84, 233) !important;
    background: linear-gradient(95deg, rgba(142, 84, 233, 1) 0%, rgba(71, 118, 230, 1) 100%) !important;
    padding: 50px;
    border-radius: 100%;
    position: relative;
}

.carousel-3d-controls a:first-of-type::after {
    content: '';
    background-image: url('../img/left.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 30px center !important;
    background-size: 31px 41px !important;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.carousel-3d-controls a:last-of-type::after {
    content: '';
    background-image: url('../img/right.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 35px center !important;
    background-size: 31px 41px !important;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}



@media only screen and (max-width: 800px) {
    .carousel-3d-controls {
        display: none;
    }

}

.carousel-3d-controls a span {
    display: none;
}

video {
    position: relative;
}

video::-webkit-media-text-track-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* Style the container */
    margin: 0px;
    padding: 0px;
}

video::-webkit-media-text-track-background {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* Style the container */
    margin: 0px;
    padding: 0px;
    /* Style the text background */
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(200, 200, 200);
}

video::-webkit-media-text-track-display {
    /* Style the text itself */
    font-size: 15px;
    max-width: 250px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* Style the container */
    margin: 0px;
    padding: 0px;
}


.loading-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 76px;
    width: 53px;
}

.loading-text {
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-name: scrolltext;
    animation-name: scrolltext;
    font-family: avenir;
    color: #fff;
    font-size: 20px;
}


.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 0;
    right: 0;
}

.icon-scroll {
    width: 40px;
    height: 70px;
    margin: auto;
    box-shadow: inset 0 0 0 2px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    /* margin-left: -4px; */
    top: 8px;
    border-radius: 4px;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@-webkit-keyframes scrollarrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

@keyframes scrollarrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

